.counter {
    position: relative;
    border: 1px solid darkblue;
    padding: 30px;
    width: 300px;
    left: 0;
    right: 0;
    margin: 30px auto;
    font-weight: 600;
}

.counter span.value {
    margin-left: 10px;
}
